header {
    height: 60px;
    padding: 25px 7vw;
    margin-bottom: 1rem;
    // position: sticky;
    // top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo{
        height: 3.5rem;
    }

    ul {
        padding: 0px;
        display: flex;
        list-style-type: none;
        align-items:center;

        li{
            width: 120px;
            padding: 5px 20px;
            border-radius: 0.5rem;
            color: #fff;
            font-weight: 600;
            font-size: 1.25rem;
            text-align: center;
        }
    }

    a {
        text-decoration: none;
    }
}
