.task-list-container {
    width: 600px;
    max-height: 25vh;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    overflow-y: scroll;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
}
    
.task-list-title {
    text-align: center;
}

.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task-list span {
    flex: 1;
}

.remove-button {
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}